@import "reset.styl"
@import "variables.styl"
@import '~vuetify/src/stylus/main'

body
  -webkit-font-smoothing antialiased
  touch-action manipulation

button
  background-color transparent
  border none
  cursor pointer
  outline none
  padding 0
  appearance none
  -webkit-tap-highlight-color transparent

a
  cursor pointer
